<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>About</title>
    <link rel="icon"
          href=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHs5PaEL9aR2tnRjvNgOzYOZQ1YYjM984ag3xAoXpV-8fpEfavmA ">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TextFilter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>

        </div>
    </div>
</nav>


<br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">About the App</h3>
                    <p class="card-text">This 'TextFilter' app lets you remove punctuations from your texts, it will
                        capitalize or lowercase your entire text, it will remove lines as well as extra spaces from your
                        texts for you, and last but not least it will count the number of characters your entire text
                        has! </p>
                    <p class="card-text">
                        <small class="text-muted">- Made with &#10084; using django</small>
                    </p>
                    <br>
                </div>
                <img class="card-img-bottom" src="https://sarobartech.com/media/blog/python--django.png" height="280px"
                     alt="Card image cap">
            </div>
        </div>


        <div class="col-sm-6">

            <div class="card mb-3">
                <img class="card-img-top"
                     src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/106400513/original/ab141311c35d77f717459b33636dcaec7530797f/work-as-fullstack-developer.jpg"
                     height="270px" alt="Card image cap">
                <br>
                <div class="card-body">
                    <h3 class="card-title">About the Creator</h3>
                    <p class="card-text">Having developed a strong love and passion for technology at an early age, I
                        enjoy tackling challenging problems. Attention to detail, efficient time management and
                        self-motivation are some of the qualities that I bring to my professional and personal life!</p>
                    <p class="card-text">
                        <small class="text-muted">- Aaron Raymond Buthelo &#9808; <br>&nbsp; Aspiring Full Stack
                            Developer &#9996;
                        </small>
                    </p>
                </div>
            </div>
        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>