<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TEXT FILTER</title>
    <link rel="icon"
          href=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHs5PaEL9aR2tnRjvNgOzYOZQ1YYjM984ag3xAoXpV-8fpEfavmA ">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TextFilter.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>

        </div>
    </div>
</nav>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hello Folks!</strong> Please enter your text, select any one operation and hit filter!.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">


    <form action="/analyse" method="get">


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter Your Text Here!</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>


        <div class="row">
            <div class="col">

                <div class="custom-control custom-switch">
                    <input type="checkbox" name="remove" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
                </div>


            </div>

            <div class="col">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" type="checkbox"
                           name="fullcaps">
                    <label class="custom-control-label" for="customSwitch2">Capitalize It</label>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" type="checkbox"
                           name="smallcaps">
                    <label class="custom-control-label" for="customSwitch3">LowerCase It</label>
                </div>

            </div>
            <div class="col">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4" type="checkbox"
                           name="newlineremove">
                    <label class="custom-control-label" for="customSwitch4">Remove New Line</label>
                </div>

            </div>
        </div>


        <br>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch5" type="checkbox"
                           name="extraspaceremove">
                    <label class="custom-control-label" for="customSwitch5">Extra Space Remover</label>
                </div>

            </div>
            <div class="col">

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch6" type="checkbox"
                           name="charactercount">
                    <label class="custom-control-label" for="customSwitch6">Count Characters</label>
                </div>
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-outline-dark">Filter The Text</button>
    </form>
</div>

<footer class="page-footer font-small fixed-bottom">


    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/"> Aaron Raymond Buthelo</a>
    </div>


</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>